// varible declare
$fontColor: white;
$backgroundColor: #1f4163;
$fontFamily: Noto Sans CJK TC, monospace;

$max-width-0: 1225px;
$max-width-1: 1175px;
$max-width-2: 1030px;
$max-width-3: 646px;
$max-width-4: 415px;

@mixin fontSize() {
  font-size: 14pt;
  line-height: 2;
  @media only screen and (max-width: $max-width-0) {
  }
  @media only screen and (max-width: $max-width-1) {
  }
  @media only screen and (max-width: $max-width-2) {
  }
  @media only screen and (max-width: $max-width-3) {
    font-size: 14pt;
  }
}

@mixin iconSize() {
  font-size: 2.4em;
  margin-right: 36px;
  @media only screen and (max-width: $max-width-0) {
    font-size: 2.1em;
    margin-right: 20px;
  }
  @media only screen and (max-width: $max-width-1) {
  }
  @media only screen and (max-width: $max-width-2) {
    font-size: 1.8em;
  }
  @media only screen and (max-width: $max-width-3) {
  }
}

@mixin footerLayout() {
  // flex
  display: flex;
  flex-direction: row;
  justify-content: center;
  & > .footer-right {
    margin-left: 100px;
  }

  @media only screen and (max-width: $max-width-2) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // height: 320px;
    & > .footer-right {
      margin-left: 0;
    }
    & > * {
      margin-left: 0;
      width: 80%;
    }

    .footer-left {
      margin-bottom: 24px;
    }

    .footer-right {
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: $max-width-4) {
    & > * {
      width: 90%;
    }
  }
}

.footer-container {
  background: $backgroundColor;
  // position
  position: absolute;
  bottom: 0;
  left: 0;
  // size
  width: 100vw;
  // min-height: 200px;
  padding-top: 48px;
  padding-bottom: 48px;

  .footer-left {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    //margin-left: 100px;

    .footer-brand {
      margin-bottom: 24px;
    }
  }

  .footer-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    //margin-left: 100px;

    .footer-context {
      margin-bottom: 14px;
    }
  }

  // layout
  @include footerLayout;
}

.footer-community-icon {
  .community-icon {
    @include iconSize;
    color: $fontColor;
  }
  .community-icon:first {
    margin-left: 0;
  }
}

.footer-context {
  @include fontSize;
  font-family: $fontFamily;
  color: $fontColor;
  font-weight: bold;
}

.footer-font-block {
  // display flex
  display: flex;
  flex-direction: column;
  // size
  width: auto;
}
