// global
@import './reset.scss';
@import './variable.scss';
@import './color.scss';
@import './util.scss';

// components
@import './footer.scss';

.sitcon-burnfont {
  color: $mid-blue;
  font-weight: 900;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
