// font
$fontFamily: 'Noto Sans TC', sans-serif;
$fontStyle: normal;
$fontColor: #226bb4;
$buttonHoverColor: #ffffff;
@mixin Font() {
  font-family: $fontFamily;
}
@mixin hyperlinkFont() {
  text-decoration: underline;
}
// font size
$h1FontSize: 48px;
$h2FontSize: 36px;
$h3FontSize: 24px;
$contextFontSize: 20px;
$buttonFontSize: 24px;

$mh1FontSize: 26px;
$mh2FontSize: 20px;
$mh3FontSize: 14px;
$mcontextFontSize: 14px;
$hyperlinkFontSize: 20px;

$enlargeFontSize: 72px;
$subFontSize: 30px;
// letter spacing
$titleLetterSpace: 0;
$contextLetterSpace: 0.2px;
$buttonLetterSpace: 0;
$hyperlinkLetterSpace: 0;

// background
$buttonHoverBg: #226BB4;

#cfp {
  .introduction {
    // flex
    display: flex;
    flex-direction: column;
    align-items: left;
    // font
    @include Font;
    color: $fontColor;
    // size
    margin-left: 10%;
  }

  .about-section {
    // font
    font-size: $contextFontSize;
    letter-spacing: $contextLetterSpace;
    line-height: 42px;

  }

  .discuss-section {
    font-size: $contextFontSize;
    letter-spacing: $contextLetterSpace;
    line-height: 42px;
  }

  .topic-intro {
    // size
    margin-top: 500px;
    // font
    font-size: $contextFontSize;
    letter-spacing: $contextLetterSpace;
    line-height: 42px;
  }

  .last-part {
    // size
    margin-top: 400px;
    // font
    font-size: $contextFontSize;
    letter-spacing: $contextLetterSpace;
    line-height: 42px;
  }

  .buttons {
    // font
    color: $fontColor;
    font-size: $buttonFontSize;
    letter-spacing: $buttonLetterSpace;
    line-height: 30px;
    // size
    margin-right: 37px;
    padding: 12px 25px 12px 25px;
    // box
    background-color: #ffffff;
    box-shadow: 0 3px 12px 0 rgba(89, 120, 206, 0.56);
    transition-duration: 0.2s;
    border: none;
    border-radius: 8px;
    // display
    display: inline-block;
  }

  .button-post {
    // display
    display: inline;
    // size
    margin-left: 40px;
    margin-top: -20px;
  }

  .buttons:hover {
    // box
    background-color: $buttonHoverBg;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.19);
    // font
    color: $buttonHoverColor;
  }

  .date {
    // display
    display: inline;
    // size
    margin-right: 35px;
    // again
    vertical-align: bottom;
  }
}

h1, h2, h3, p, span {
  color: $fontColor;
}

h1 {
  // font
  font-size: $h1FontSize;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: $titleLetterSpace;

  .enlarge {
    font-size: $enlargeFontSize;
  }

  .sub {
    font-size: $subFontSize;
  }

}

h2 {
  // font
  font-size: $h2FontSize;
  letter-spacing: $titleLetterSpace;
  font-weight: 900;
  line-height: 70px;
  
}

h3 {
  // Font
  font-size: $h3FontSize;
  letter-spacing: $titleLetterSpace;
  font-weight: 900;
  line-height: 30px;
}

.context {
  // font
  font-size: $contextFontSize;
  line-height: 42px;
  letter-spacing: $contextLetterSpace;
  font-weight: normal;
}

.detail {
  // display
  display: inline;
  // font
  font-size: $contextFontSize;
  line-height: 42px;
  letter-spacing: $contextLetterSpace;
  font-weight: normal;
  // align
  vertical-align: bottom;
  // size
  margin-right: 37px;
}

.context-span {
  // font
  font-size: $contextFontSize;
  font-weight: 900;
  letter-spacing: $contextLetterSpace;
  line-height: 42px;
}

.context-hyperlink {
  // font
  font-size: $hyperlinkFontSize;
  letter-spacing: $hyperlinkLetterSpace;
  font-weight: normal;
  line-height: 42px;
}

p.tag {
  // font
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
  font-weight: 900;
  // align
  text-align: center;
  .sub {
    font-size: 20px;
  }
}

p.small-tag {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  font-size: 14px;
  text-align: center;
}

.cfp-img {
  // box
  border-radius: 4px;
  margin-bottom: 12px;
  // size
  width: 225px;
  height: 152px;
}

.thumbnails {
  // box
  margin-left: -25.5px;
}

.img-table {
  // box
  border-style: none;
  border-spacing: 25.5px 0px; //25.5
}

.tag-table{
  // box
  border-style: none;
  border-spacing: 0px 0px; //25.5
  // size
  width: 500px;
}