.cfp-background {
    // image
    background-image: url('../assets/image/CFPBackground.svg');
    background-position: 60% center;
    background-repeat: no-repeat;
    

    height: 2900px;
    width: 100vw;

    z-index: -1;
}